.ui-orderlist .ui-orderlist-caption{
    color: #676a6c;
}
.ui-orderlist{
    display: inline-flex;
    width: 100%;
}
.push_to_mapper{
    margin-top: 100px;
}
.ui-orderlist-list-container{
    width: 100%;
    border: 1px solid #ccc;
}
.ui-orderlist .ui-orderlist-controls{
    display: none;
}
.ui-orderlist .ui-orderlist-list{
    width: 100%;
}
.ui-steps .ui-steps-item{
    width: 50%;
}
.push_to_mapper{
    margin:  0px 50%;
    transform: translate(-50%, 200px)
}
.push_button{
    height: 90px;
    width: 100%;
}

.load_file_block{
    width: 320px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
.data_mapping_list.ui-orderlist .ui-orderlist-list{
    height: calc(100vh - 330px);
}
.error_modal.ui-dialog{
    width: 100%;
}
.picked{
    border-bottom: 1px solid #ccc;
    background: #ccc;
    padding: 4px;
    border-radius: 2px;
}