<div class="ui-g" >
    <div class="ui-g-5">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
    <div class="ui-g-6 ui-g-nopad" [hidden]="activeIndex!=1">
        <app-settings-entities [(mapped_columns)]="mapped_columns"
                               [(primary_columns)]="primary_columns"
                               [new_set_columns]="new_set_columns"
                               [(origin_cols)]="origin_cols">
        </app-settings-entities>
    </div>
    <div class="ui-g-1">
        <button pButton class="to-right push_button"
                [disabled]="check_push_button()"
                label="PUSH"
                (click)="map_new_data_set()">
        </button>
    </div>
</div>
<p-dialog header="Data merge has the error" [(visible)]="displayError" [modal]="true" [closeOnEscape]="true"
              styleClass="error_modal">
    <p-header>
        Error occured while merging data
    </p-header>

    <p>{{ server_error | json }}</p>
        <button pButton  label="Close" (click)="displayError=false">
        </button>
    </p-dialog>
<div [hidden]="activeIndex!=0" class="load_file_block">
    <label>Load new data set for mapping to master:</label>
    <p-fileUpload name="myfile[]"
                  files="files"
                  customUpload="True"
                  (uploadHandler)="get_files($event)"
                  accept=".csv"
                  auto="auto"
    ></p-fileUpload>
</div>
<div [hidden]="activeIndex!=1">
    <div class="ui-g" >
        <div class="ui-g-6 ui-g-nopad">
            <div class="ui-g-5">
                <p-orderList [value]="origin_cols" styleClass="data_mapping_list"
                             header="Origin Data Set Columns"
                             filter="filter" filterBy="name"
                             (onSelectionChange) = "select_origin_column($event)">
                    <ng-template let-item pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div [ngClass]="{'picked' : item.picked}">{{item.name}}</div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
            <div class="ui-g-5">
                <p-orderList [value]="new_set_columns" styleClass="data_mapping_list"  header="New Data Set Columns"
                             filter="filter" filterBy="name"
                             (onSelectionChange) = "select_new_set_column($event)">
                    <ng-template let-item pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div>{{item.name}}</div>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
            <div class="ui-g-2">
                <button pButton class="push_to_mapper" label=">>" (click)="push_to_mapped()"
                        [disabled]="!(origin_column && new_set_column) || (origin_column && origin_column.picked)">
                </button>
            </div>
        </div>

        <div class="ui-g-6 ui-g-nopad" *ngIf="mapping_settings">
            <app-data-map-settings
                    [(mapped_columns)]="mapped_columns"
                    [(primary_columns)]="primary_columns"
                    [mapped_origin_error]="mapping_settings.mapped_origin_error"
                    [mapped_new_set_error]="mapping_settings.mapped_new_set_error"
                    (mapped_columnsChange)="mapping_settings.validate_mapping()"
                    (delete_mapped_columns)="handle_delete($event)"
                    >
            </app-data-map-settings>
        </div>
    </div>
</div>
