.content_title{
  padding: 10px;
  font-weight: bold;
  background: #fff;
  border-bottom: 1px solid #e1e4e6;
  border-top: 3px solid #e1e4e6;
}

.content{
    margin: 0px auto;
}
.content_body{
  background: #fff;
  padding: 20px;
}
.to-right{
    float: right;
}
h3 {
    text-align: center;
}

.ui-orderlist .ui-orderlist-list .ui-orderlist-item{
  margin-left: 10px;
}

.to-center{
  text-align: center;
}

.inner_block{
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100%;
}