<div class="outer_block">
    <div class="inner_block">
        <div class="ui-g-9">
            <h4 class="header_data_mapping">
                Saved data mapping entities
            </h4>
            <p-dropdown [options]="data_mapping"
                        placeholder="Select a Data Map Settings"
                        optionLabel="label"
                        styleClass="data_map_settings"
                        [(ngModel)]="selected_data_mapping"
                        [style]="{width:'100%'}"
                        [filter]="true"
                        (onChange)="change_data_mapping()">
                <ng-template let-item pTemplate="item">
                    <div class="mapping_element">{{item.label}}</div>
                    <div class="to-right">
                        <p-button (onClick)="delete_data_mapping($event, item.value)" icon="fa fa-fw fa-trash"></p-button>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div *ngIf="primary_columns" class="ui-g-3">
            <button type="button"
                    pButton icon="fa-save"
                    iconPos="left"
                    label="Save"
                    (click)="save_map_element()"
                    [disabled]="check_primary_columns()"
                    class="map_data_buttons"
            >
            </button>
            <button type="button"
                    pButton icon="fa-simplybuilt"
                    iconPos="left"
                    label="Save As"
                    (click)="save_as_map_element()"
                    [disabled]="check_primary_columns()"
                    class="map_data_buttons">
            </button>
        </div>
    </div>
</div>
<p-dialog  [(visible)]="display"
           [modal]="true"
           [closeOnEscape]="true"
           styleClass="new_data_mapping_modal">
    <p-header>
        Create new data mapping
    </p-header>
    <div ngClass="content new_company">
        <div ngClass="content_body">
            <app-data-mapping-form (formSubmit)="save_on_server($event)"
                                   [model]="selected_data_mapping_value"
                                   [server_error]="server_error">
            </app-data-mapping-form>
        </div>
    </div>
</p-dialog>