<form action="" ngClass="add_company_form" #company_form="ngForm" (ngSubmit)="handleSubmit(company_form)">
    <div class="form_group">
        <label for="name">Name:</label>
        <input [(ngModel)]="model.name" name="name" id="name" required="" #name="ngModel"
               ngClass="form-control"
        >
        <div [hidden]="name.valid || name.pristine" class="form_error">
            Name is required
        </div>
        <app-form-field-error [errors]="server_error" [name]='name' >
        </app-form-field-error>
    </div>
    <p-dialog *ngIf="model.id!=0" header="Are you sure ?" [(visible)]="display" [modal]="true" [closeOnEscape]="true"
              styleClass="delete_modal">
        <button pButton  label="Cancel" (click)="display=false">
        </button>
        <button  pButton type="button" (click)="handleCompany()" label="Delete"  class="ui-button-danger">
        </button>
    </p-dialog>
    <button  pButton type="button" (click)="display=true" label="Delete"  class="ui-button-danger">
    </button>
    <button pButton  class="to-right" type="submit"
            [disabled]="!company_form.form.valid || company_form.form.pristine"
            label="Save"
    ></button>
    <br>
    <br>
</form>
