<div class="mapper_component">
    <div class="ui-g-12">
        <div ngClass="content_title">
            Saved data mapping entities
        </div>
        <p-dropdown [options]="data_mapping"
                    placeholder="Select a Data Map Settings"
                    optionLabel="label"
                    styleClass="data_map_settings"
                    [(ngModel)]="selected_data_mapping"
                    [style]="{width:'100%'}"
                    [filter]="true"
                    (onChange)="change_data_mapping()">
        </p-dropdown>
    </div>
    <div *ngIf="primary_columns" class="ui-g-12">
        <button type="button" pButton icon="fa-save" iconPos="left"
               label="Save" (click)="save_map_element()" [disabled]="check_primary_columns()">
        </button>
        <button type="button" pButton icon="fa-simplybuilt" iconPos="left"
               label="Save As" (click)="save_as_map_element()" [disabled]="check_primary_columns()">
        </button>
    </div>
    <div class="ui-g-12">
        <p-orderList [value]="mapped_columns"
                     styleClass="data_mapping_settings_list"
                     header="Origin Data Set Columns / New Data Set Columns"
                     filter="filter"
                     filterBy="origin_column,new_set_column"
                     (onSelectionChange)="select_primary_mapping($event)">
            <ng-template let-item let-i="index" pTemplate="item">
                <div  [ngClass]="{'ui-state-highlight' : primary_columns && item.origin_column == primary_columns.origin_column}">
                    <div class="ui-g">
                        <div class="ui-g-5">
                            <input type="text"
                                   [(ngModel)]="item.origin_column"
                                   placeholder="origin columns"
                                   class="mapped_list_item  form-control"
                                   [ngClass]="{'error_mapped_item': mapped_origin_error[item.origin_column]}"
                                   [disabled]="true">
                        </div>
                        <div class="ui-g-5">
                            <input type="text"
                                   [(ngModel)]="item.new_set_column"
                                   placeholder="new set columns"
                                   class="mapped_list_item form-control"
                                   [ngClass]="{'error_mapped_item': mapped_new_set_error[item.new_set_column]}"
                                   [disabled]="true">
                        </div>
                        <div class="ui-g-2 to-center">
                            <button type="button"
                                    pButton icon="fa-trash"
                                    iconPos="left"
                                    (click)="delete_mapping(i)">
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-orderList>
        <p-dialog  [(visible)]="display"
                   [modal]="true"
                   [closeOnEscape]="true"
                   styleClass="new_data_mapping_modal">
            <p-header>
                Create new data mapping
            </p-header>
            <div ngClass="content new_company">
                <div ngClass="content_body">
                    <app-data-mapping-form (formSubmit)="save_on_server($event)"
                                           [model]="selected_data_mapping_value"
                                           [server_error]="server_error">
                    </app-data-mapping-form>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
