<form>
  <input type="button" ngClass="buttons" value="ADD NEW ROW" [routerLink] = "['/add_new']" style="float:left">
  <div>
    <label> Load CSV file with data:  </label>
    <input type="file" (change)="fileChange($event)" id="file_to_load"  placeholder="Upload file" accept=".csv">
  </div>
  <p *ngIf="error_text">{{ error_text }}</p>
</form>
<!--<div *ngIf="loading" class="loading">Loading ... </div>-->
<ng4-loading-spinner> </ng4-loading-spinner>
<div *ngFor="let row of data_rows">
  <pre>
    <button class="edit_row" [routerLink] = "['/cust_id', row['cust_ID']]">Edit</button>
    <button class="export_row" (click)="export_to_file($event, row['cust_ID'])">Export to file</button>
    <button class="del_row" (click)="del_row($event, row['cust_ID'])">+</button>
    {{ row | json:4 }}
  </pre>
  <br/>
</div>
